---
import Layout from "../layouts/Layout.astro";
import ImagesGrid from "../components/ImagesGrid.astro";
---

<Layout title="Cocina">
  <h1 class="px-4 md:px-0 md:text-5xl text-3xl font-bold">Cocinas</h1>
  <ImagesGrid />
  <!-- {cocinaImages.map((cocina) => <ImagesGrid image={cocina.image} />)} -->
</Layout>
