---
import Layout from '../layouts/Layout.astro';
import BentoGrid from '../components/BentoGrid.astro';
import Gallery from '../components/Gallery.astro';
---

<Layout title="Welcome to Astro.">
	<main class="container mx-auto">
		<Gallery />
		<section class="my-12 text-center">
			<h2 class="text-2xl font-bold">Muebles a medida</h2>
			<p class="text-xl opacity-75">Hacemos tus ideas realidad</p>

		</section>
		<BentoGrid />
	</main>
</Layout>

