---
import Layout from "../layouts/Layout.astro";
import BentoGrid from "../components/BentoGrid.astro";
import SwiperHero from "../components/SwiperHero.astro";
import Title from "../components/Title.astro";
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto">
    <SwiperHero />
    <Title title="Hechos a medida" subtitle="Hacemos tus ideas realidad" />
    <BentoGrid />
  </main>
</Layout>
