---
import TruckIcon from "./icons/TruckIcon.astro";
---

<div class="bg-[#4B3621] text-white h-8 flex justify-center items-center gap-x-2">
  <TruckIcon />
  <h1 class="text-center text-xl">
    Entrega e instalación sin cargo.
  </h1>
</div>