---
const { images } = Astro.props;
---

<section class="container mx-auto mb-4">
  <div class="images p-4 sm:p-0 overflow-hidden">
    {
      images.map((image) => (
        <img
          src={image.src}
          class="h-auto rounded-lg shadow-md object-cover"
          loading="lazy"
        />
      ))
    }
  </div>
</section>

<style>
  .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
</style>
