---
const { images } = Astro.props;
---

<section class="container mx-auto mb-4">
  <div class="images">
    {
      images.map((image) => (
        <img
          src={image.src}
          class="w-full h-auto rounded-lg shadow-md"
          decoding="async"
          loading="lazy"
        />
      ))
    }
  </div>
</section>

<style>
  .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1em;
  }
</style>
