---
import Menu from "../components/icons/Menu.astro";
---

<nav class="h-16 my-8 container mx-auto">
  <div class="flex items-center justify-between h-full">
    <div class="sm:flex items-center gap-x-4 text-xl hidden">
      <a href="/" class="text-2xl">Antes/Despues</a>
    </div>
    <a href="/" class="hidden sm:block">
      <img src="/logo.png" alt="Logo" height="350" width="250" />
    </a>
    <a href="/" class="block sm:hidden">
      <img src="/logoleft.png" alt="Logo" height="350" width="250" />
    </a>
    <div class="sm:flex flex-col gap-2 hidden">
      <a
        class="hover:underline font-medium text-xl"
        href="https://api.whatsapp.com/send?phone=3816247866&text=Hola! Ví tus muebles y me gustaría hacer una consulta."
        target="_blank">+54 9 381 624-7866</a
      >
      <a
        class="hover:underline font-medium text-xl"
        href="mailto:bollo_ap@hotmail.com"
        target="_blank">bollo_ap@hotmail.com</a
      >
    </div>
    <button class="sm:hidden size-8">
      <Menu />
    </button>
  </div>
</nav>
