---
import Menu from "../components/icons/Menu.astro";
import { Image } from 'astro:assets';
---

<nav class="h-16 max-sm:mt-4 sm:mt-8 sm:mb-4 container mx-auto px-2 md:px-0">
  <div class="flex items-center justify-between h-full">
    <div class="sm:flex items-center gap-x-4 text-xl hidden">
      <a href="/#antes-despues" class="text-2xl hover:underline">Antes/Después</a
      >
    </div>
    <a href="/" class="hidden sm:block">
      <Image src="/logo.webp" alt="Logo" height="350" width="250" />
    </a>
    <a href="/" class="block sm:hidden">
      <Image src="/logoleft.webp" alt="Logo" height="350" width="250" />
    </a>
    <div class="sm:flex flex-col gap-2 hidden text-right">
      <a
        class="hover:underline font-medium text-xl"
        href="https://api.whatsapp.com/send?phone=3816247866&text=Hola! Ví tus muebles y me gustaría hacer una consulta."
        target="_blank">+54 9 381 624-7866</a
      >
      <a
        class="hover:underline font-medium text-xl"
        href="mailto:bollo_ap@hotmail.com"
        target="_blank">bollo_ap@hotmail.com</a
      >
    </div>
    <button
      class="sm:hidden size-8"
      id="menuBtn"
      name="open-menu"
      title="Open Menu"
    >
      <Menu />
    </button>
  </div>
  <div
    class="sm:hidden absolute top-24 left-0 w-full bg-white border border-gray-300 z-10"
    id="mobileMenu"
  >
    <div class="flex justify-around">
      <a
        href="/antes-despues"
        class="block py-2 px-4 text-gray-800 hover:bg-gray-300">Antes/Después</a
      >
      <a
        href="/#swiperHero"
        class="block py-2 px-4 text-gray-800 hover:bg-gray-300"
        >Plano/Realidad</a
      >
    </div>
  </div>
</nav>

<style>
  #mobileMenu {
    display: none;
  }

  #mobileMenu.active {
    display: inline-block;
  }
</style>

<script>
  document.getElementById("menuBtn").addEventListener("click", function () {
    const menu = document.getElementById("mobileMenu");
    menu.classList.toggle("active");

    const content = document.getElementById("first-content");
    content.classList.toggle("menu-open");
  });

  // Agregar controlador de eventos para cerrar el menú cuando se hace clic en un enlace dentro del menú desplegable
  const menuLinks = document.querySelectorAll("#mobileMenu a");
  menuLinks.forEach(function (link) {
    link.addEventListener("click", function () {
      const menu = document.getElementById("mobileMenu");
      menu.classList.remove("active");
    });
  });
</script>
