---
import Menu from "../components/icons/Menu.astro";
import Instagram from "../components/icons/Instagram.astro";
import { Image } from "astro:assets";
---

<header
  class="h-16 max-sm:mt-4 sm:mt-12 sm:mb-4 container mx-auto px-2 md:px-0 bg-white"
>
  <div class="flex items-center justify-between h-full">
    <a href="/" class="block" data-astro-prefetch>
      <Image src="/lofoleftpeng.png" alt="Logo" width={250} height={250} />
    </a>
    <nav class="sm:flex items-center gap-x-4 hidden">
      <a href="/#swiperHero" class="text-lg lg:text-2xl hover:underline"
        >Plano/Realidad</a
      >
      <a
        href="/#preguntas-frecuentes"
        class="text-lg lg:text-2xl hover:underline">Preguntas frecuentes</a
      >
      <a href="/#antes-despues" class="text-lg lg:text-2xl hover:underline"
        >Antes/Después</a
      >
    </nav>
    <div class="max-sm:hidden flex items-center text-lg gap-x-4">
      <span class="lg:block hidden">Tucumán, Argentina</span>
      <a
        class="hover:opacity-70"
        href="https://instagram.com/marceloapariciomuebles"
        target="_blank"
      >
        <Instagram width="32" height="32" />
      </a>
    </div>
    <button
      class="sm:hidden size-8"
      id="menuBtn"
      name="open-menu"
      title="Open Menu"
    >
      <Menu />
    </button>
  </div>
  <div
    class="sm:hidden absolute top-32 left-0 w-full bg-white border border-gray-300 z-10"
    id="mobileMenu"
  >
    <div class="flex justify-around">
      <a
        href="#swiperHero"
        class="block py-2 px-4 text-gray-800 hover:bg-gray-300"
        >Plano/Realidad</a
      >
      <a
        href="#preguntas-frecuentes"
        class="block py-2 px-4 text-gray-800 hover:bg-gray-300"
        >Preguntas frecuentes</a
      >
      <a
        href="#antes-despues"
        class="block py-2 px-4 text-gray-800 hover:bg-gray-300">Antes/Después</a
      >
    </div>
  </div>
</header>

<style>
  #mobileMenu {
    display: none;
  }

  #mobileMenu.active {
    display: inline-block;
  }
</style>

<script>
  document.getElementById("menuBtn").addEventListener("click", function () {
    const menu = document.getElementById("mobileMenu");
    menu.classList.toggle("active");

    const content = document.getElementById("first-content");
    content.classList.toggle("menu-open");
  });

  // Agregar controlador de eventos para cerrar el menú cuando se hace clic en un enlace dentro del menú desplegable
  const menuLinks = document.querySelectorAll("#mobileMenu a");
  menuLinks.forEach(function (link) {
    link.addEventListener("click", function () {
      const menu = document.getElementById("mobileMenu");
      menu.classList.remove("active");
    });
  });
</script>
