<nav class="h-16 sm:my-8">
    <div class="flex items-center justify-between h-full">
      <div class="flex items-center gap-x-4 text-xl">
        <a href="/">Antes/Despues</a>
      </div>
      <a href="/" class="relative">
        <img src="/logo.png" alt="Logo" height="350" width="250">
      </a>
      <div class="flex flex-col gap-2">
        <a class="hover:underline" href="https://api.whatsapp.com/send?phone=3816247866&text=Hola! Ví tus muebles y me gustaría hacer una consulta." target="_blank">+54 9 381 624-7866</a>
        <a class="hover:underline" href="mailto:bollo_ap@hotmail.com" target="_blank">bollo_ap@hotmail.com</a>
      </div>
    </div>
  </nav>