---
import WhatsappIcon from "../components/icons/WhatsappIcon.astro";
---

<a
  href="https://api.whatsapp.com/send?phone=3816247866&text=Hola! Ví tus muebles y me gustaría hacer una consulta."
  target="_blank"
  aria-label="send-message-to-whatsapp"
>
  <WhatsappIcon
    class="size-12 m-5 fixed bottom-0 left-0 z-[99] cursor-pointer sm:hover:opacity-30 sm:transition-all"
    id="whatsapp-button"
  />
</a>
