---
const imagesBefore = [
  {src: "/images/before/1.jpg"},
  {src: "/images/before/2.jpg"},
  {src: "/images/before/3.jpg"}
]

const imagesAfter = [
  {src: "/images/after/1.jpg"},
  {src: "/images/after/2.jpg"},
  {src: "/images/after/3.jpg"}
]
---

<section id="antes-despues" class="flex justify-center items-center">
  <div class="shadow-sm rounded-lg overflow-hidden flex flex-col md:flex-row w-full max-w-5xl">
    <div class="flex-1 p-2 text-center">
        <h2 class="text-2xl font-bold mb-4">Imágenes de Antes</h2>
        {
          imagesBefore.map((image) => (
            <img src={image.src} alt="Imagen antes" class="mb-4 mx-auto rounded-lg border-2">
          ))          
        }
    </div>
    <div class="flex-1 p-2 text-center flex items-center justify-center">
        <h2 class="text-3xl font-bold text-[#4B3621]">VS</h2>
    </div>
    <div class="flex-1 p-2 text-center">
        <h2 class="text-2xl font-bold mb-4">Imágenes de Ahora</h2>
        {
          imagesAfter.map((image) => (
            <img src={image.src} alt="Imagen antes" class="mb-4 mx-auto rounded-lg border-2">
          ))          
        }
    </div>
</div>
</section>