<footer class="text-center opacity-70 text-xl text-wrap mb-4 mt-8">
  © {new Date().getFullYear()} Marcelo Aparicio Muebles | Hecho por{" "}
  <a
    href="https://maximodip.vercel.app/"
    target="_blank"
    class="underline hover:opacity-30 transition"
  >
    Maximo Dip
  </a>
</footer>
