---
import "@fontsource/lateef/400.css";
import "@fontsource/lateef/500.css";
import "@fontsource/lateef/600.css";
import "@fontsource/lateef/700.css";
import "@fontsource/lateef/800.css";

import Navbar from "../components/Navbar.astro";
import Footer from "../sections/Footer.astro";
import GoUpButton from "../components/GoUpButton.astro";
import WhatsappButton from "../components/WhatsappButton.astro";
import FixedInfo from "../components/FixedInfo.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Marcelo Aparicio Muebles, transformamos tus espacios con una amplia selección de muebles de alta calidad que combinan diseño, comodidad y funcionalidad."
    />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="keywords"
      content="muebles, tucuman, lules, a medida, living, cocina, vestidor"
    />
    <link rel="icon" type="image/x-icon" href="/icons/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/icons/favicon-32x32.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <FixedInfo />
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
    >
    </div>
    <Navbar />
    <main class="container mx-auto">
      <slot />
    </main>
    <Footer />
    <GoUpButton />
    <WhatsappButton />
  </body>
</html>

<style is:global>
  body {
    font-family: "Lateef", serif;
    font-display: swap;
  }

  html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
    overflow-x: hidden;
  }

  .menu-open {
    margin-top: 50px; /* Ajusta la cantidad de espacio que quieres que el contenido se mueva hacia abajo */
    transition: margin-top 0.3s ease-in-out; /* Agrega una transición suave al movimiento */
  }
</style>
